/**************************************************************/
/* colors */
:root {
  --dark-green: #015249;
  --light-green: #57bc90;
  --accent-clr: #77c9d4;
  --light-clr: #a5a5af;
  --bg-light: white;
  --main-font-color: black;
}

/**************************************************************/
/* general styling */

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: var(--dark-green);
}

body {
  margin: 0;
  font-size: 16px;
  background-color: var(--bg-light);
  color: var(--main-font-color);
}

header div {
  height: 100%;
  margin: 0;
  margin-bottom: 10em;
}

*::selection {
  background-color: var(--accent-clr);
  color: var(--dark-green);
}

a {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--accent-clr);
}

figure {
  all: unset;
}

ul li {
  margin-left: -1rem;
}

ol li {
  margin-left: -1.5rem;
}

/**************************************************************/
/* Specific Stylings */

.header {
  padding: 3rem 1rem;
  padding-top: 4.5rem;
  text-align: center;
  background-image: linear-gradient(235deg,
      var(--light-green),
      var(--accent-clr));

  position: relative;
}

.heading-group {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: " 🤩 ";
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: var(--accent-clr);
  color: var(--dark-green);
  z-index: 1;
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }

  .navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  padding: 0.25rem 0.5rem;
  color: var(--dark-green);
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  border-left: 0.5rem solid var(--light-clr);
  border-right: 0.5rem solid var(--light-clr);
  background-color: var(--light-clr);
  animation: myAnim 0.75s ease-out 0s 1 normal forwards;
  border-radius: 0.75rem;
  padding: 0.15rem;
  text-transform: lowercase;
  font-weight: 900;
}

@keyframes myAnim {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@media screen and (min-width: 768px) {
  .nav-link+.nav-link {
    margin-left: 1rem;
  }
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

.main>*+* {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main>*+* {
    margin-top: 5rem;
  }
}

.main>* {
  border-top: 0.125rem solid var(--dark-green);
  padding: 0 1rem;
}

.main>*:first-child {
  border-top: none;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

/**************************************************************/
/* blockquotes */
/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
  padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  max-width: 650px;
  margin: 80px auto;
  align-self: center;
}

/* Blockquote header */
.blockquote h1 {
  position: relative;
  /* for pseudos */
  color: var(--dark-green);
  font-weight: normal;
  line-height: 1;
  margin: 0;
  border: 2px solid #fff;
  border: solid 2px;
  border-radius: 20px;
  padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
  content: "";
  position: absolute;
  border: 2px solid var(--dark-green);
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -60px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3;
}

.blockquote h1:before {
  content: "";
  position: absolute;
  width: 80px;
  border: 6 + px solid var(--accent-clr);
  bottom: -3px;
  left: 50px;
  z-index: 2;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-top: 14px;
  z-index: 1;
  margin-left: 150px;
  padding-left: 12px;
}

.blockquote h4:first-letter {
  margin-left: -12px;
}


/*chooses dark theme if user has dark theme as default*/
@media screen and (prefers-color-scheme: dark) {
  body {
    --bg-dark: #001614;
    --main-font-color: rgb(226, 220, 220);
    background-color: var(--bg-dark);


  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--light-green)
  }

  .main>* {
    border-top: 0.125rem solid var(--light-green);
  }
}